.img-resize {
  flex: auto;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 400px;
  height: width;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.border-top {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  margin-top: 30px;
}

.border-reduced {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  margin-top: 10px;
}

.border-all {
  border: 1px solid lightgrey;
  padding: 30px;
  margin-left: 20px;
  border-radius: 5px;
}

.grey-box {
  background-color: lightgrey;
  height: 70px;
  width: 70px;
  text-align: center;
  margin-right: 20px;
}
