<div class="grid-container">
  <% @pigeons.each do |pigeon| %>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1513099335611-0fd3bca7131c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=390&q=80">
      <h2 class="title"><%= pigeon.name %></h2>
      <span class="price"><%= pigeon.price_per_day %> €</span>
    </div>
  <% end %>
</div>
