<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/margaridarita/pigeon-bnb"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Created by <strong>Pigeons Group</strong>
  </div>
</div>
