<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://img.freepik.com/free-vector/international-peace-day-template-with-pigeon-design-line-style-vector-illustration_1017-39677.jpg?w=740&t=st=1677585360~exp=1677585960~hmac=60797025d1d144cfa0a5180cf36148d9b16b1c07edbdc0e309f774b72eb2a7ad);">
  <div class="container">
    <h1>Le Pigeon</h1>
    <p>Rent your Pigeon!</p>
  </div>
</div>

<div class="container">
 <button <%= link_to "Get Started", pigeons_path, class: "nav-link" %>></button>
</div>
