<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <div class="container">
    <h1>Le Pigeon</h1>
    <p>Rent your Pigeon!</p>
  </div>
</div>

<div class="container">
 <button <%= link_to "Get Started", _path, class: "nav-link" %>></button>
</div>
