<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1635699522347-50b5b12070b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);">
  <div class="container">
    <h1>Le Pigeon</h1>
    <p>Rent your Pigeon!</p>
  </div>
</div>

<div class="buttons-container">
  <%= link_to "Meet our pigeons", pigeons_path, id:"button-green" %>
  <%= link_to "Rent a pigeon", pigeons_path, id:"button-green" %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/margaridarita/pigeon-bnb"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Created by <strong>Pigeons Gruoup</strong>
  </div>
</div>
