<div class="banner">
  <div class="container">
    <h1>Pigeon up your life!</h1>
    <p>Choose a skilled pigeon to book from our vast list of categories</p>
  </div>

   <img src="<%= asset_path('banner_img.png') %>"/>
</div>

<div class="info-container">
  <div class="row">
    <div class="col-6">
      <div class="buttons-container">
        <%= link_to "Book a pigeon", pigeons_path, class:"button-green" %>
      </div>
      <div class="home-text-container">
        <div class="home-text">
          <p>Get to know all the available pigeons for a specific category. The presence of a pigeon make any moment memorable!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="buttons-container">
        <%= link_to "Rent your pigeon", new_pigeon_path, class:"button-green" %>
      </div>
      <div class="home-text-container">
        <div class="home-text">
          <p>Know all the benefits of renting a pigeon. Define a category, upload a picture, describe your pigeon, and get ready to earn some good money!</p>
        </div>
      </div>
    </div>
  </div>
</div>
