.banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 400px;
  margin-top: 80px;
  margin-bottom: 50px;

  h1 {
    color: #587368;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: #587368;
    opacity: .7;
  }
}
