.banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 550px;

  h1 {
    padding-top: 360px;
    color: #F7F6F5;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
