.button-green {
  text-decoration: none;
  background-color: #587368;
  color: white;
  font-size: 14px;
  padding: 15px 18px;
  border-radius: 50px;
  width: 160px;
  margin: 40px;
  text-align: center;
  transition: transform 0.3s ease;

}

.button-green:hover {
  transform: scale(1.1);
  color: white;
}

#button-map {
  text-decoration: none;
  background-color: #587368;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  display: inline-block;
  position: fixed;
  bottom: 80px;
  padding: 15px 18px;
  text-align: center;
  transition: transform 0.3s ease;
}

#button-map:hover {
  transform: scale(1.1);
}



.buttons-container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
