.card {
  width: 90%;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
  margin: auto;
  background-position: center;
 }

 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px 2px;
 }

 .card .title {
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
 }

 .card .price {
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
 }

 .card:hover::after {
  bottom: 0;
 }

 .card:active {
  transform: scale(0.98);
 }

 .text {
  max-width: 55px;
 }

 .card:hover {
  border: 1px solid #D55959;
  transform: scale(1.05);
 }

 .card:active {
  transform: scale(0.95) rotateZ(1.7deg);
 }

 .pigeon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
 }
