.card {
  width: 95%;
  height: 22em;
  // box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
  margin: auto;
  border-radius: 10px;
  background-position: center;
  border: none;
 }

 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px 2px;
 }

 .card .title {
  font-size: 1em;
  position: absolute;
  left: 1.3em;
  bottom: 3.4em;
  font-weight: 400;
  color: #363636;
 }

 .card .address {
  font-size: 0.7em;
  position: absolute;
  left: 1.9em;
  bottom: 3.8em;
  color: #8A8D96;
 }

 .card .price {
  font-size: 0.9em;
  position: absolute;
  left: 1.5em;
  bottom: 1em;
  color: #363636;
 }

 .card:hover::after {
  bottom: 0;
 }

 .card:active {
  transform: scale(0.98);
 }

 .card .text {
  max-width: 55px;
 }

 .card:hover {
  border: 1px solid #587368;
  // box-shadow: 0 3px 10px #587368 (0 0 0 / 0.2);
  // transform: scale(1.05);
 }


 .card-image {
  object-fit: cover;
  background-position-x: center;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  margin-bottom: 2em
 }
